/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
}

@media (width >= 768px) {

}

.header {
  display: grid;
  position: relative;
  grid-template-rows: auto max-content auto;
}

.rec-icon {
  display: flex;
  position: absolute;
  align-items: center;
  text-transform: uppercase;
  gap: 10px;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
}

.rec-icon::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 10px;
  margin: 75px 10px 65px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  line-height: 18px;
  padding: 1.5px 13px;
  border: none;
  color: var(--accent-color);
  height: 26px;
}

.header__title {
  display: flex;
  color: var(--title-color);
  margin: 0 10px;
  font-family: "IBM Plex mono", monospace;  
  line-height: 82.5%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  margin: 55px 10px 66px;
  justify-self: end;
  font-weight: 700;
  color: var(--text-color);
  background: var(--accent-color);
}