/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: grid;
  position: relative;

}

.rec-icon {
  display: flex;
  position: absolute;
  align-items: center;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__title {
  display: flex;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  background-color: initial;
}